@model AuthorViewModel
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="row mb-2">
            <div class="col-md-6">
                <a asp-page="Index" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-angle-left"></i>
                    Back to Authors
                </a>
            </div>
            <div class="col-md-6 text-right"></div>
        </div>

<div class="card bg-light">
    <form method="post" enctype="multipart/form-data">    
        @Html.HiddenFor(x => x.Id)
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="/@(!string.IsNullOrEmpty(Model?.PhotoUrl) ? Model.PhotoUrl : "admin/dist/img/user1-128x128.jpg")" alt="Author Photo" class="img-circle img-fluid">
                    <label>Upload a photo</label>
                    <input asp-for="PhotoFile" class="form-control" accept="image/*" required="@(Model == null)">
                    @if (Model == null)
                    {
                        <span asp-validation-for="PhotoFile" class="text-danger"></span>
                    }
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" type="text" class="form-control">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="JobTitle"></label>
                        <input asp-for="JobTitle" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label asp-for="Permalink"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">http://localhost:5000/authors/</span>
                            </div>
                            <input asp-for="Permalink" type="text" class="form-control">
                            <span asp-validation-for="Permalink"></span>
                        </div>
                        <span class="text-muted form-text">Permalink should be characters and numbers only.</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortBio">Short Bio</label>
                        <textarea asp-for="ShortBio" rows="2" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="FullBio">Full Bio</label>
                        <textarea asp-for="FullBio" rows="5" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary">
                <i class="fas fa-save"></i>
                Save
            </button>
        </div>
    </form>
</div>
</div>
</div> 