@page
@model MyBlog.Admin.Pages.Authors.NewModel
@{
    ViewData["Title"] = "New Author";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="row mb-2">
            <div class="col-md-6">
                <a asp-page="Index" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-angle-left"></i>
                    Back to Authors
                </a>
            </div>
            <div class="col-md-6 text-right"></div>
        </div>
        <partial name="_NewEdit" model="Model.Author">
    </div>
</div> 

@section Scripts
{
    <partial name="_ValidationScripts">
}