@page
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageTitle"] = "Welcome to My Blog Admin Area";
}

<h3>Get Started</h3>
<div class="row">
    <div class="col-md-4">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <i class="fas fa-edit"></i> Posts
            </div>
            <div class="card-body">
                <p class="card-text">In this section, you can manage posts</p>
            </div>
            <div class="card-footer text-center">
                <a asp-page="Posts/Index" class="btn btn-primary">Manage Posts <i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-secondary card-outline">
            <div class="card-header">
               <i class="fas fa-folder"></i> Categories
            </div>
            <div class="card-body">
                <p class="card-text">In this section, you can manage post categories</p>
            </div>
            <div class="card-footer text-center">
                <a asp-page="Categories/Index" class="btn btn-secondary">Manage Categories <i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-success card-outline">
            <div class="card-header">
                <i class="fas fa-user"></i> Authors
            </div>
            <div class="card-body">
                <p class="card-text">In this section, you can manage authors</p>
            </div>
            <div class="card-footer text-center">
                <a asp-page="Authors/Index" class="btn btn-success">Manage Authors <i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
