@page
@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = "Forgot Password";
    ViewData["BackgroundImage"] = "/admin/dist/img/bg/photo-of-woodpile.jpg";
}

<p class="login-box-msg">Forgot Password?</p>
<div class="alert alert-success">
    <h4 class="alert-heading"><i class="fas fa-check-circle text-success"></i> Check Your Email</h4>
    <p>We have sent you an email with password reset instructions. Please check your inbox or junk folder.</p>
</div>
<p><a asp-page="Login"><i class="fas fa-angle-left"></i> Back to login</a></p>
