@page
@model MyBlog.Admin.Pages.Account.ForgotPasswordModel
@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = "Forgot Password";
    ViewData["BackgroundImage"] = "/admin/dist/img/bg/photo-of-woodpile.jpg";
}

<p class="login-box-msg">Forgot Password?</p>
<p>Enter your email below.</p>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <div class="input-group mb-3">
        <input asp-for="Email" class="form-control">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
        </div>
        <!-- /.col -->
    </div>
</form>

<p class="mt-3"><a asp-page="Login"><i class="fas fa-angle-left"></i> Back to login</a></p>