@page
@model MyBlog.Admin.Pages.Account.LoginModel
@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = "Login";
    ViewData["BackgroundImage"] = $"/admin/dist/img/bg/background-balance-business-commerce.jpg";
}

<p class="login-box-msg">Sign in to start your session</p>
@if (Model.DisplayNotConfirmedError)
{
    <div class="alert alert-default-danger">
        <h4 class="alert-heading">Email not Confirmed</h4>
        <p>Please check your email to confirm your account. Didn't receive any confirmation email?
            <a class="alert-link" asp-page="ResendRegistrationCode">Resend confirmation email</a>
        </p>
    </div>
}
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="input-group mb-3">
        <input asp-for="Email" class="form-control" autocomplete="none">
        <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas fa-envelope"></span>
        </div>
        </div>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="input-group mb-3">
        <input asp-for="Password" class="form-control">
        <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas fa-lock"></span>
        </div>
        </div>
        <span asp-validation-for="Password"></span>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-check">
                <input asp-for="RememberMe" class="form-check-input">
                <label asp-for="RememberMe" class="form-check-label">
                    Remember Me
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </div>
        <!-- /.col -->
    </div>
</form>

<p class="mb-1">
    <a asp-page="ForgotPassword">I forgot my password</a>
</p>
<p class="mb-0">
    <a asp-page="Register" class="text-center">Register a new acount</a>
</p>
