@page
@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = "Confirm Registration";
    ViewData["BackgroundImage"] = "/admin/dist/img/bg/asphalt-road-between-trees.jpg";
}


<p class="login-box-msg">Register a new membership</p>
<div class="alert alert-success">
    <h4 class="alert-heading"><i class="fas fa-check-circle text-success"></i> Confirm Your Registration</h4>
    <p>We have sent you an email with instructions to confirm your registration. Please check your inbox or junk folder.</p>
    <hr>
    <p>Didn't get verification email?</p>
    <p><a class="alert-link" asp-page="SendCode">Click here</a> to resend verification email.</p>
</div>
