@page
@model MyBlog.Admin.Pages.Account.SendCodeModel
@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = "Resned Registration Code";
    ViewData["BackgroundImage"] = "/admin/dist/img/bg/pile-of-wood.jpg";
}

<p class="login-box-msg">Didn't get verification email?</p>
<p>Enter your email below to receive registration confirmation email.</p>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="input-group mb-3">
        <input asp-for="Email" class="form-control">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
        <span asp-validation-for="Email"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Send Verification Code</button>
</form>
<p class="mt-3"><a asp-page="Login"><i class="fas fa-angle-left"></i> Back to login</a></p>