@page
@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = "Verification email has been sent";
    ViewData["BackgroundImage"] = "/admin/dist/img/bg/pile-of-wood.jpg";
}

<p class="login-box-msg">Check your Email</p>
<div class="alert alert-success">
    <p>We have sent you an email with instructions to confirm your registration. Please check your inbox or junk folder.</p>
    <p>Didn't get verification email? <a asp-page="SendCode" class="alert-link">Click here</a> to resend verification email.</p>
</div>
