@page "{id:int}"
@model MyBlog.Admin.Pages.Categories.EditModel
@{
    ViewData["Title"] = "Edit Category";
    ViewData["SubTitle"] = Model.Category.Name;
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="row mb-2">
            <div class="col-md-6">
                <a asp-page="Index" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-angle-left"></i>
                    Back
                </a>
            </div>
            <div class="col-md-6 text-right"></div>
        </div>
        <partial name="_NewEdit" model="Model.Category">
    </div>
</div>

