@{
    string selectedMenu = (string)ViewData["SelectedMenu"];
}
<!-- Sidebar Menu -->
<nav class="mt-2">
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
    <li class="nav-item">
        <a asp-page="/Posts/Index" class="nav-link @(selectedMenu == "Posts" ? "active" : "")">
            <i class="nav-icon fas fa-edit"></i>
            <p>Posts</p>
        </a>
    </li>
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a asp-page="/Categories/Index" class="nav-link @(selectedMenu == "Categories" ? "active" : "")">
                <i class="nav-icon fas fa-folder"></i>
                <p>Categories</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-page="/Authors/Index" class="nav-link @(selectedMenu == "Authors" ? "active" : "")">
                <i class="nav-icon fas fa-user"></i>
                <p>Authors</p>
            </a>
        </li>
    }
</ul>
</nav>
<!-- /.sidebar-menu -->